@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
.Calendar {
  font-family: 'Balsamiq Sans', cursive;
  margin: 10% auto;
  box-shadow: 2px 2px 23px 2px #e8e8e8;
  width: 784px;
  position: relative;
}