.Header{
  height: 42px;
  background-color: #646364;
  padding: 4px 0 0 4px;
  clear: both;
  border-radius: 3px 3px 0 0;
  display: flex;
  a{
    display: inline-block;
    font-size: 16px;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 14.5px;
    padding-bottom: 7px;
    border-bottom: 4px solid #e41e26;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid;
      border-top-color: #e41e26;
      top: 110%;
      left: 43%;
    }
  }
  .Month {
    height: 37px;
    width: 190px;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #fff;
    margin-right: 25px;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    p{
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      line-height: 40px;
      margin-top: 2px;
      margin-bottom: 3px;
      span{
        font-size: 24px;
      }
    }
  }
}
