*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: ProximaNova Regular;
    src: url('../fonts/ProximaNova-Regular.ttf'); 
}

@font-face {
	font-family: ProximaNova Bold;
    src: url('../fonts/ProximaNova-Bold.ttf');
}

@font-face {
	font-family: Intro Black Caps;
    src: url('../fonts/Intro-Black-Caps.otf');
}

@font-face {
	font-family: Intro Black;
    src: url('../fonts/Intro-Black.otf');
}

@font-face {
	font-family: Intro Black Italic;
    src: url('../fonts/Intro-Black-Italic.otf');
}

@font-face {
	font-family: Intro Regular;
    src: url('../fonts/Intro-Regular.otf');
}
body{
    background-image: url("../images/bedroom.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.header{
    height: 56px;
    background-color: #fff;
    width: 100%; 
    &__wrapper{
        height: 56px;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-size: 30px;
        span{
            display: block;
            float: right;
            max-width: 200px;
            font-size: 13px;
            font-family: ProximaNova Regular, sans-serif;
            text-transform: uppercase;
            padding-left: 32px;
        }
    }
    &__contact{
        font-family: ProximaNova Bold, sans-serif;
        display: flex;
        align-items: center;
        .phone{
            font-size: 35px;
            color: #000;
            padding-right: 15px;
        }
        .button{
            // z-index: 63;
            font-size: 13px;
            text-transform: capitalize;
            padding: 7px 10px;
            color: #fff;
            font-weight: 700;
            box-sizing: border-box;
            text-align: center;
            border-radius: 4px;
            background: rgba(255, 79, 88, 1);
            background: linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
            background: -moz-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
            background: -webkit-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
            background: -ms-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
        }
    }
}
.menu{
    background-color: rgba(0, 0, 0, 0.6);
    height: 35px;
    .menu__list{
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 14px;
        li{
            margin-top: 8px;
            font-family: ProximaNova Regular;
            float: left;
            width: 232px;
            border-right: 1px solid #fff;
        }
        li:last-of-type{
            border: none;
        }
    }
    &__sm{
        display: none;
    }
}
.skrew-black{
    background-color: #000;
    opacity: 0.4;
    position: absolute;
    left: -125px;
    top: 0;
    transform: skew(-15deg);
    width: 649px;
    height: 485px;
    z-index: 2;
}
.slider__item-info{
    z-index: 5;
    height: 483px;
    position: relative;
    .skrew-white{
        height: 110px; 
        width: 580px;
        background-color: rgb(255, 255, 255);
        opacity: 0.702;
        box-shadow: -3.536px 3.536px 16px 0px rgba(0, 0, 0, 0.3);
        transform: skew(-16deg);
        position: relative;
        top: 35px;
        left: 192px;
        &__small{
            top: 45px;
            left: 163px;
            width: 278px;
            height: 62px;
        }
    }
    h1{
        font-family: Intro Black Caps, sans-serif;
        font-size: 90px;
        display: block;
        position: absolute;
        top: 36px;
        left: 209px;
    
        
    }
    h1::before{
        content: url('../images/line.png');
        position: absolute;
        top: 0;
        left: -65px;

    }
}
.slider-arrows{
    cursor: pointer;
    position: absolute;
    top: 403px;
    left: 395px;
    &__left{
        left: 183px;
        z-index: 2;
    }
}
.slider-dots{
    display: flex;
    position: absolute;
    top: 508px;
    left: 249px;
    .circle-pag{
        box-sizing: border-box;
        width: 15px !important;
        height: 15px !important;
        border: 2px solid green;
        border-radius: 50%;
        margin-right: 16px;
        position: relative;
        .slick-current::before{
                content: "";
                display: block;
                position: absolute;
                top: 20%;
                left: 20%;
                width: 7px;
                height: 7px;
                background-color: red;
                border-radius: 50%;
        }
    }
}
.slick-dots{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 417px;
    left: 249px;
    li{
        margin-right: 16px;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: relative;
    }
    button{
        display: none;
    }
}
li.slick-active::before{
    content: "";
    display: block;
    position: absolute;
    top: 19%;
    left: 19%;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
}
.slider-item__info-button{
    font-size: 23px;
    font-family: ProximaNova Bold, sans-serif;
    padding: 9px 17px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
    background: rgba(255, 79, 88, 1);
    background: linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
    background: -moz-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
    background: -webkit-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
    background: -ms-linear-gradient( to bottom, rgb(255,79,88) 0%, rgb(253,112,72) 100%);
    position: absolute;
    top: 308px;
    left: 188px;
}
.slider-item__info-dest{
    font-size: 36px;
    font-family: Intro Black Italic, sans-serif;
    text-transform: initial;
    position: absolute;
    left: 188px;
    top: 157px;
    border-bottom: 3px solid #000;
    padding: 0px 29px 3px 35px;
}
.skrew-green{
    background-image: linear-gradient( 0deg, rgb(42,235,42) 0%, rgb(0,117,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(42,235,42) 0%, rgb(0,117,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(42,235,42) 0%, rgb(0,117,0) 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    transform: skew(-16deg);
    width: 178px;
    height: 49px;
    position: relative;
    left: 450px;
    top: -9px;
}
.slider-item__info-size{
    position: absolute;
    top: 161px;
    left: 458px;
    // z-index: 43;
    font-size: 16px;
    font-family: Intro Black Caps, sans-serif;
    color: #fff;
    span{
        font-family: Intro Black, sans-serif;
    }
}
.slider-item__info-ideas{
    font-family: ProximaNova Bold, sans-serif;
    font-size: 19px;
    color: #fff;
    position: absolute;
    top: 240px;
    left: 190px;
    max-width: 320px;
}
.kitchen{
    .skrew-white__small{
        width: 298px;
    }
    .skrew-green{
        left: 470px;
    }
    .slider-item__info-size{
        left: 478px;
    }
}
.bedroom{
    .skrew-white__small{
        width: 348px;
    }
    .skrew-green{
        left: 520px;
    }
    .slider-item__info-size{
        left: 528px;
    }
}
.living-room{
    .skrew-white__small{
        width: 388px;
    }
    .skrew-green{
        left: 560px;
    }
    .slider-item__info-size{
        left: 568px;
    }
}
.advantages{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 574px;
    width: 100%;
    height: 279px;
    // z-index: 13;
    text-transform: initial;
    &__inner{
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-gap: 26px;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        .inner-item{
            max-width: 400px;
            font-family: ProximaNova Bold, sans-serif;
            margin: 0 auto;
            img{
                padding: 20px 0px 10px 0px;
            }
            span{
                display: block;
                font-size: 22px;
               
            }
            p{
                font-family: ProximaNova Regular;
                font-size: 16px;
                padding-top: 10px;
            }
        }
    }
}
@media screen and(min-height: 856px){
    .advantages{
        top: unset;
        bottom: 0;
    }
}
 /// Адаптив 
@media screen and(max-width: 1280px){
    .header__wrapper{
        padding: 0px 20px;
    }
    .advantages__inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .inner-item{
        max-width: unset;
        padding: 0px 50px 20px 50px;
    }
}
@media screen and(max-width: 870px){
    .header__contact .phone{
        font-size: 22px;
    }
    .slider__item-info h1{
        font-size: 56px;
        left: 90px;
    }
    .slider__item-info .skrew-white{
        left: 75px;
        height: 70px;
        width: 367px;
        &__small{
            top: 49px;
            left: 57px;
            height: 38px;
            width: 190px;
        }
    }
    .slider-item__info-dest{
        padding: unset;
        border-bottom: none;
        font-size: 22px;
        left: 70px;
        top: 124px;
    }
    .slider-item__info-size{
        top: 167px;
        left: 57px;
    }
    .skrew-green{
        left: 42px;
        top: 62px;
    }
    .kitchen, .bedroom, .living-room{
        .slider-item__info-size{
            top: 167px;
            left: 57px;
        }
        .skrew-green{
            left: 42px;
            top: 62px;
        }
    }
    .slider-item__info-ideas, .slider-item__info-button{
        left: 40px;
        font-size: 15px;
    }
    .slider-arrows{
        left: 295px;
        &__left{
            left: 93px;
        }
    }
    .slick-dots{
        left: 153px;
    }
}
@media screen and(max-width: 768px){
    .header__logo span{
        display: none;
    }
    .inner-item{
        padding: 0px 20px 20px 20px;
    }
}
@media screen and(max-width: 596px){
    .advantages__inner{
        grid-template-columns: 1fr;
    }
    .header__contact .button{
        display: none;
    }
    .menu{
        display: none;
    }
    .slider__item-info h1{
        font-size: 36px;
        left: 74px;
        top: 75px;
    }
    .slider__item-info .skrew-white{
        left: 61px;
        top: 73px;
        height: 47px;
        width: 245px;
        &__small{
            top: 89px;
            left: 42px;
            height: 38px;
            width: 190px;
        }
    }
    .slider-item__info-dest{
        padding: unset;
        border-bottom: none;
        font-size: 22px;
        left: 51px;
        top: 142px;
    }
    .slider-item__info-size{
        top: 185px;
        left: 35px;
    }
    .skrew-green{
        left: 26px;
        top: 102px;
    }
    .kitchen, .bedroom, .living-room{
        .slider-item__info-size{
            top: 185px;
            left: 35px;
        }
        .skrew-green{
            left: 26px;
            top: 102px;
        }
    }
    .slider-item__info-ideas, .slider-item__info-button{
        left: 22px;
    }
    .slider-item__info-ideas{
        top: 252px;
    }
    // .slider-item__info-button{
    //     top: ;
    // }
    .slider-arrows{
        left: 201px;
        &__left{
            left: 27px;
        }
    }
    .slick-dots{
        left: 73px;
    }
    .slider__item-info h1::before{
        content: "";
    }
}

/// Burger, mobile menu
@media screen and (max-width: 596px){
    .menu ul{
        justify-content: center;
    }
    .menu a, .menu__button{
        display: none;
    }
    /* Styles for menu small screen */
    .menu__sm{
        display: block;
    }
    .menu__sm {
        position: fixed;
        top: 40px;
        left: 0;
        z-index: 12;
    }
  
    .menu__sm .toggler {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu__sm .toggler:hover{
        cursor: pointer;
    }
    .menu__sm .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    /* Hamburger Line */
    .menu__sm .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    /* Hamburger Lines - Top & Bottom */
    .menu__sm .hamburger > div::before,
    .menu__sm .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    /* Moves Line Down */
    .menu__sm .hamburger > div::after {
        top: 10px;
    }
    
    /* Toggler Animation */
    .menu__sm .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    
    /* Turns Lines Into X */
    .menu__sm .toggler:checked + .hamburger > div:before,
    .menu__sm .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    
    /* Rotate On Hover When Checked */
    .menu__sm .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    /* Show Menu */
    .menu__sm .toggler:checked ~ .hamburger__menu {
        visibility: visible;
    }
    
    .menu__sm .toggler:checked ~ .hamburger__menu > div {
        transform: scale(1);
    }
    
    .menu__sm .toggler:checked ~ .hamburger__menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
    
    .menu__sm .hamburger__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu__sm .hamburger__menu > div {
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu__sm .hamburger__menu > div > div {
        background: #ffffff;
        text-align: center;
        width: 100vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu__sm .hamburger__menu > div > div > ul > li {
        list-style: none;
        color: #000;
        font-family: ProximaNova Regular;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu__sm .hamburger__menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}